shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
side-effects-cache=false # Ensure the postinstall script of the lefthook package is executed and hooks are installed
manage-package-manager-versions=true
